extends layout
block content
    canvas#outputStream.outputStream.videoScreen

block custom_script
    script(src='/assets/js/binaryjs/binary.js')
    script(src='/javascripts/binaryr.js')
    script(src='/javascripts/streamr.js')